"" Source your .vimrc
source ~/dotconfigs/vim/common.vim
source ~/dotconfigs/ideavim/ideavim-actions.vim

" Don't use Ex mode, use Q for formatting.
map Q gq


" Plugins
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'terryma/vim-multiple-cursors'

" custom entries
set clipboard+=unnamed
set clipboard+=ideaput



"" Editing
set ideajoin
set idearefactormode=keep

" NERDtree
nnoremap <leader>po :NERDTree<CR>
nnoremap <leader>pf :NERDTreeFind<CR>

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
